/*
===============
User Chat Page
===============
*/
#chat {
  padding: 2rem 2.5rem;
  max-width: 100%;
  width: 95vw;
  height: calc(100vh - 4rem);
  margin: 2rem auto;
  background-color: var(--clr-primary-1);
  border-radius: var(--radius);
  box-shadow: var(--shadow-dark);
  overflow-y: scroll;
}

@media screen and (min-width: 992px) {
  #chat {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  #chat {
    overflow-y: hidden;
  }
}

#chat .users-list h2 {
  color: var(--white);
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
}

#chat .users-list .search-box {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--clr-primary-3);
  border-radius: var(--radius);
}

#chat .users-list .search-box .search-bar input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--white);
  font-size: 1rem;
}

#chat .users-list .search-box .search-bar input::placeholder {
  color: var(--white);
  font-size: 1rem;
}

#chat .users-list .search-box .search-icon {
  color: var(--white);
  font-size: 1.25rem;
}

#chat .users-list h3 {
  font-size: 1.25rem;
  color: var(--white);
  margin-top: 1rem;
}

#chat .users-list .recent-user {
  margin-top: 1.25rem;
  background-color: var(--clr-primary-2);
  padding: 0.75rem 1.5rem;
  border-radius: var(--radius);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border: 3px solid transparent;
  transition: var(--transition);
}

#chat .users-list .recent-user:hover {
  scale: 1.1;
  border: 3px solid var(--clr-primary-2);
  background-color: transparent;
}

#chat .users-list .recent-user .user-infos {
  display: flex;
  gap: 1rem;
}

#chat .users-list .recent-user .user-infos .user-profile {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

#chat .users-list .recent-user .user-infos .user-info {
  color: var(--white);
}

#chat .users-list .recent-user .time {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 700;
  align-self: center;
}

@media screen and (min-width: 992px) {
  #chat .users-list {
    border-right: 2px solid var(--clr-grey-10);
    padding-right: 2rem;
  }

  #chat .users-list .recent-users-section {
    overflow-y: scroll;
    height: calc(100vh - -1rem);
  }

  #chat .users-list .recent-user.test {
    background-color: red;
  }

  #chat .users-list .recent-user {
    padding: 0.5rem 1rem;
  }

  #chat .users-list .recent-user .user-infos {
    gap: 0.5rem !important;
    align-items: center;
  }

  #chat .users-list .recent-user .user-infos .user-info {
    color: var(--white);
  }

  #chat .users-list .recent-user .user-infos .user-info h5 {
    font-size: 1rem;
  }

  #chat .users-list .recent-user .user-infos .user-info p {
    font-size: 0.75rem;
  }

  #chat .users-list .recent-user .time {
    color: var(--white);
    font-size: 1rem !important;
    font-weight: 700;
    align-self: center;
  }
}

@media screen and (min-width: 1200px) {
  #chat .users-list {
    flex: 1;
    margin-top: 1rem;
  }

  #chat .users-list .recent-user:hover {
    scale: 0.9;
  }

  #chat .users-list .recent-users-section {
    height: calc(100vh - 19rem);
  }

  #chat .users-list .recent-user.test {
    background-color: red;
  }
}

#chat .chat-content {
  margin: 2.5rem 0;
}

#chat .chat-content h3 {
  font-size: 1.25rem;
  color: var(--white);
  margin-bottom: 0.5rem;
}

#chat .chat-content .top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-primary-3);
  padding: 0.5rem 0.75rem;
  border-radius: var(--radius);
}

#chat .chat-content .top-bar .user-infos {
  display: flex;
  gap: 1rem;
}

#chat .chat-content .top-bar .user-infos .user-profile {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

#chat .chat-content .top-bar .user-infos .user-info {
  color: var(--white);
}

#chat .chat-content .top-bar .user-infos .user-info p {
  color: var(--clr-grey-3);
  font-weight: 700;
}

#chat .chat-content .top-bar .back {
  display: block;
  background-color: transparent;
  border: none;
  color: var(--white);
  font-size: 1.25rem;
  cursor: pointer;
  border: 1px solid var(--white);
  width: 6rem;
  border-radius: var(--radius);
  padding: 0.25rem 0.5rem;
  transition: var(--transition);
}

#chat .chat-content .top-bar .back:hover {
  background-color: var(--white);
  color: var(--clr-grey-10);
}

#chat .chat-content .top-bar .chat-icon {
  font-size: 1.25rem;
  display: flex;
  gap: 1rem;
}

#chat .chat-content .top-bar .chat-icon button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--white);
  transition: var(--transition);
}

#chat .chat-content .top-bar .chat-icon button:hover {
  rotate: -45deg 0 0;
}

#chat .chat-content .user-chats {
  padding: 1rem;
  height: calc(100vh - 4rem);
  margin: 1rem 0;
  overflow-y: scroll;
}

#chat .chat-content .user-chats .user-profile {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

#chat .chat-content .user-chats .message-box {
  max-width: 70%;
  background-color: var(--clr-primary-4);
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  gap: 1rem;
  margin: 0.5rem 0;
}

#chat .chat-content .user-chats .message-box .message {
  color: var(--white);
  font-size: 1rem;
}

#chat .chat-content .user-chats .message-box .time {
  color: var(--clr-grey-3);
}

#chat .chat-content .user-chats .owner-side,
#chat .chat-content .user-chats .opposite-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#chat .chat-content .user-chats .owner-side {
  flex-direction: row-reverse;
}

#chat .chat-content .user-chats .owner-side .message-box {
  border-radius: 10px 0 10px 10px;
}

#chat .chat-content .user-chats .opposite-side {
  flex-direction: row;
}

#chat .chat-content .user-chats .opposite-side .message-box {
  border-radius: 0 10px 10px 10px;
}

#chat .chat-content .input-box {
  background-color: var(--clr-primary-3);
  padding: 0.75rem 1.25rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: var(--radius);
}

#chat .chat-content .input-box .message-icon {
  color: var(--clr-grey-3);
  font-size: 1.2rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: var(--transition);
}

#chat .chat-content .input-box .message-icon:hover {
  scale: 1.5;
  rotate: 90deg 0 0;
}

#chat .chat-content .input-box form {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

#chat .chat-content .input-box form input {
  display: block;
  width: 88%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--white);
  font-size: 1rem;
  transition: var(--transition);
}

#chat .chat-content .input-box form input::placeholder {
  color: var(--white);
  font-size: 1rem;
}

#chat .chat-content .input-box form button {
  display: block;
  width: 10%;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: var(--white);
  cursor: pointer;
  transition: var(--transition);
}

#chat .chat-content .input-box form button:hover {
  scale: 1.5;
  rotate: 45deg 0 0;
}

@media screen and (min-width: 992px) {
  #chat .chat-content {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    flex: 2;
  }

  #chat .chat-content .top-bar {
    margin-top: 29px;
  }
}

@media screen and (min-width: 1200px) {
  #chat .chat-content {
    flex: 3;
    border-right: 2px solid var(--clr-grey-10);
    padding-right: 2rem;
    height: calc(100vh - 7rem);
    margin-top: 1rem;
  }

  #chat .chat-content .user-chats {
    height: calc(100vh - 23rem);
  }
}

#chat .user-profile-section {
  background-color: var(--clr-primary-3);
  border-radius: var(--radius);
  padding: 1rem 2rem;
}

#chat .user-profile-section .main-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chat .user-profile-section .main-information .user-profile {
  width: 8rem;
  border-radius: 50%;
}

#chat .user-profile-section .main-information .full-name {
  font-weight: 700;
  font-size: 1.5rem;
}

#chat .user-profile-section .other-information {
  margin-top: 1.5rem;
}

#chat .user-profile-section .other-information h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

#chat .user-profile-section .other-information .info:not(:last-child) {
  border-bottom: 1px solid var(--clr-grey-8);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

#chat .user-profile-section .other-information .info h4 {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--clr-grey-10);
}

#chat .user-profile-section .other-information .info p {
  color: var(--white);
  font-size: 1.15rem;
  letter-spacing: 1px;
}

@media screen and (min-width: 992px) {
  #chat .user-profile-section {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  #chat .user-profile-section {
    flex: 1;
    height: calc(100vh - 8rem);
    margin-top: 1rem;
  }

  #chat .user-profile-section .main-information .user-profile {
    width: 5rem;
  }

  #chat .user-profile-section .other-information h3 {
    font-size: 1.25rem;
  }
}
