/*
===============
User Chat Page
===============
*/
.chat {
  padding: 2rem 2.5rem;
  max-width: 100%;
  width: 95vw;
  height: calc(100vh - 4rem);
  margin: 2rem auto;
  background-color: var(--clr-primary-1);
  border-radius: var(--radius);
  box-shadow: var(--shadow-dark);
  overflow-y: scroll;
}

@media screen and (min-width: 992px) {
  .chat {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .chat {
    overflow-y: hidden;
  }
}
