.usersList h2 {
  color: var(--white);
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
}

.usersList .searchBox {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--clr-primary-3);
  border-radius: var(--radius);
}

.usersList .searchBox .searchBar input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--white);
  font-size: 1rem;
}

.usersList .searchBox .searchBar input::placeholder {
  color: var(--white);
  font-size: 1rem;
}

.usersList .searchBox .searchIcon {
  color: var(--white);
  font-size: 1.25rem;
}

.usersList h3 {
  font-size: 1.25rem;
  color: var(--white);
  margin-top: 1rem;
}

@media screen and (min-width: 992px) {
  .usersList {
    border-right: 2px solid var(--clr-grey-10);
    padding-right: 2rem;
  }

  .usersList .recentUsersSection {
    overflow-y: scroll;
    height: calc(100vh - -1rem);
  }
}

@media screen and (min-width: 1200px) {
  .usersList {
    flex: 1;
    margin-top: 1rem;
  }

  .usersList .recentUsersSection {
    height: calc(88vh - 19rem);
  }
}

/* Single Searched User */
.recentUser {
  margin-top: 1.25rem;
  background-color: var(--clr-primary-2);
  padding: 0.75rem 1.5rem;
  border-radius: var(--radius);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border: 3px solid transparent;
  transition: var(--transition);
}

.recentUser:hover {
  scale: 1.1;
  border: 3px solid var(--clr-primary-2);
  background-color: transparent;
}

.recentUser .userInfos {
  display: flex;
  gap: 1rem;
}

.recentUser .userInfos .userProfile img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.recentUser .userInfos .userInfo {
  color: var(--white);
}

.recentUser .time {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 700;
  align-self: center;
}

@media screen and (min-width: 992px) {
  .recentUser.test {
    background-color: red;
  }

  .recentUser {
    padding: 0.5rem 1rem;
  }

  .recentUser .userInfos {
    gap: 0.5rem !important;
    align-items: center;
  }

  .recentUser .userInfos .userInfo {
    color: var(--white);
  }

  .recentUser .userInfos .userInfo h5 {
    font-size: 1rem;
  }

  .recentUser .userInfos .userInfo p {
    font-size: 0.75rem;
  }

  .recentUser .time {
    color: var(--white);
    font-size: 1rem !important;
    font-weight: 700;
    align-self: center;
  }
}

@media screen and (min-width: 1200px) {
  .recentUser:hover {
    scale: 0.9;
  }

  .recentUser.test {
    background-color: red;
  }
}
