/*
===============
Login Page
===============
*/
.main {
  padding: 2rem 2.5rem;
  max-width: 568px;
  width: 80vw;
  margin: 0 auto;
  background-color: var(--clr-primary-1);
  margin-top: 5rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow-dark);
}
