/* Normalize Css */
@import "./normalize.css";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");

/*
===============
Variables
===============
*/
:root {
  /* dark palette primary */
  --clr-primary-1: #0e2954;
  --clr-primary-2: #1f6e8c;
  --clr-primary-3: #2e8a99;
  --clr-primary-4: #84a7a1;
  /* grey */
  --clr-grey-1: #f8fafc;
  --clr-grey-2: #f1f5f9;
  --clr-grey-3: #e2e8f0;
  --clr-grey-4: #cbd5e1;
  --clr-grey-5: #94a3b8;
  --clr-grey-6: #64748b;
  --clr-grey-7: #475569;
  --clr-grey-8: #334155;
  --clr-grey-9: #1e293b;
  --clr-grey-10: #0f172a;
  --black: #222;
  --white: #fff;
  --radius: 0.75rem;
  --spacing: 1px;
  --transition: all 0.3s linear;
  /* font */
  --bodyFont: "Exo 2", sans-serif;
  /* shadow */
  --shadow-light: rgba(0, 0, 0, 0.65) -5px 8px 10px;
  --shadow-dark: rgba(0, 0, 0, 0.9) 0px 10px 15px;
}

/*
===============
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

body {
  background: var(--clr-primary-2);
  color: var(--clr-grey-10);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.28rem;
  font-family: var(--headingFonts);
  text-transform: capitalize;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/*
===============
App Home Page
===============
*/
#home {
  padding: 2rem 2.5rem;
  max-width: 568px;
  width: 80vw;
  margin: 0 auto;
  background-color: var(--clr-primary-1);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow-dark);
}

#home .chat-logo {
  width: 40%;
  height: 50%;
  overflow: hidden;
  border-radius: 50%;
}

#home .chat-intro {
  padding: 1.25rem;
}

#home .chat-intro .chat-title {
  font-size: 3rem;
  text-align: center;
  margin-top: -2rem;
  color: var(--clr-primary-4);
  font-weight: bold;
}

#home .chat-intro p {
  font-size: 1.2rem;
  text-align: justify;
  color: var(--white);
}

#home .register-login p {
  color: var(--clr-grey-4);
  font-size: 1rem;
}

#home .register-login a {
  color: var(--white);
  text-decoration: underline;
  font-weight: 700;
}

/*
===============
Register Page
===============
*/
#register {
  padding: 2rem 2.5rem;
  max-width: 568px;
  width: 80vw;
  margin: 0 auto;
  background-color: var(--clr-primary-1);
  margin-top: 5rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow-dark);
}

#register .chat-logo {
  width: 40%;
  height: 50%;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

#register .chat-intro {
  padding: 1.25rem;
}

#register .chat-intro .chat-title {
  font-size: 3rem;
  text-align: center;
  margin-top: -2rem;
  color: var(--clr-primary-4);
  font-weight: bold;
}

#register .register-form input {
  padding-bottom: 0.75rem;
  font-size: 1.25rem;
  color: var(--white);
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--clr-grey-1);
}

#register .register-form input::placeholder {
  color: var(--white);
}

#register .register-form input:not(input[type="radio"]) {
  display: block;
  width: 90%;
  margin: 0.5rem auto;
}

#register .register-form .gender-box {
  color: var(--white);
  width: 90%;
  margin: 0.75rem auto;
  display: flex;
  gap: 0.5rem;
}

#register .register-form .gender-box .male,
#register .register-form .gender-box .female {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#register .register-form .sign-up {
  display: block;
  padding: 0.5rem 1.25rem;
  border: 1px solid var(--white);
  width: 35%;
  margin: 1rem auto;
  transition: var(--transition);
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
}

#register .register-form .sign-up:hover {
  background-color: var(--white);
  color: var(--clr-primary-1);
  font-weight: 700;
}

/*
===============
Login Page
===============
*/
#login {
  padding: 2rem 2.5rem;
  max-width: 568px;
  width: 80vw;
  margin: 0 auto;
  background-color: var(--clr-primary-1);
  margin-top: 5rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow-dark);
}

#login .chat-logo {
  width: 40%;
  height: 50%;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

#login .chat-intro {
  padding: 1.25rem;
}

#login .chat-intro .chat-title {
  font-size: 3rem;
  text-align: center;
  margin-top: -2rem;
  color: var(--clr-primary-4);
  font-weight: bold;
}

#login .login-form input {
  padding-bottom: 0.75rem;
  font-size: 1.25rem;
  color: var(--white);
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--clr-grey-1);

  display: block;
  width: 90%;
  margin: 0.5rem auto;
}

#login .login-form input::placeholder {
  color: var(--white);
}

/* #login .login-form input {
  display: block;
  width: 90%;
  margin: 0.5rem auto;
} */

#login .login-form .login {
  display: block;
  padding: 0.5rem 1.25rem;
  border: 1px solid var(--white);
  width: 35%;
  margin: 1rem auto;
  transition: var(--transition);
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
}

#login .login-form .login:hover {
  background-color: var(--white);
  color: var(--clr-primary-1);
  font-weight: 700;
}
