/* Normalize Css */
@import "./normalize.css";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");

/*
===============
Variables
===============
*/
:root {
  /* dark palette primary */
  --clr-primary-1: #0e2954;
  --clr-primary-2: #1f6e8c;
  --clr-primary-3: #2e8a99;
  --clr-primary-4: #84a7a1;
  /* grey */
  --clr-grey-1: #f8fafc;
  --clr-grey-2: #f1f5f9;
  --clr-grey-3: #e2e8f0;
  --clr-grey-4: #cbd5e1;
  --clr-grey-5: #94a3b8;
  --clr-grey-6: #64748b;
  --clr-grey-7: #475569;
  --clr-grey-8: #334155;
  --clr-grey-9: #1e293b;
  --clr-grey-10: #0f172a;
  --black: #222;
  --white: #fff;
  --radius: 0.75rem;
  --spacing: 1px;
  --transition: all 0.3s linear;
  /* font */
  --bodyFont: "Exo 2", sans-serif;
  /* shadow */
  --shadow-light: rgba(0, 0, 0, 0.65) -5px 8px 10px;
  --shadow-dark: rgba(0, 0, 0, 0.9) 0px 10px 15px;
}

/*
===============
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

body {
  background: var(--clr-primary-2);
  color: var(--clr-grey-10);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  font-size: 0.875rem;
}

p {
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFonts);
  text-transform: capitalize;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.divider {
  width: 100%;
  height: 5px;
  margin: 1rem auto;
  border-radius: var(--radius);
  background-color: var(--clr-primary-2);
}

/*
===============
App Home Page
===============
*/
#home {
  padding: 2rem 2.5rem;
  max-width: 568px;
  width: 80vw;
  margin: 0 auto;
  background-color: var(--clr-primary-1);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow-dark);
}

#home .chat-logo {
  width: 40%;
  height: 50%;
  overflow: hidden;
  border-radius: 50%;
}

#home .chat-intro {
  padding: 1.25rem;
}

#home .chat-intro .chat-title {
  font-size: 3rem;
  text-align: center;
  margin-top: -2rem;
  color: var(--clr-primary-4);
  font-weight: bold;
}

#home .chat-intro p {
  font-size: 1.2rem;
  text-align: justify;
  color: var(--white);
}

#home .register-login p {
  color: var(--clr-grey-4);
  font-size: 1rem;
}

#home .register-login a {
  color: var(--white);
  text-decoration: underline;
  font-weight: 700;
}

/*
===============
Register Page
===============
*/
#register {
  padding: 2rem 2.5rem;
  max-width: 568px;
  width: 80vw;
  margin: 0 auto;
  background-color: var(--clr-primary-1);
  margin-top: 5rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow-dark);
}

#register .chat-logo {
  width: 40%;
  height: 50%;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

#register .chat-intro {
  padding: 1.25rem;
}

#register .chat-intro .chat-title {
  font-size: 3rem;
  text-align: center;
  margin-top: -2rem;
  color: var(--clr-primary-4);
  font-weight: bold;
}

#register .register-form input {
  padding-bottom: 0.75rem;
  font-size: 1.25rem;
  color: var(--white);
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--clr-grey-1);
}

#register .register-form input::placeholder {
  color: var(--white);
}

#register .register-form input:not(input[type="radio"]) {
  display: block;
  width: 90%;
  margin: 0.5rem auto;
}

#register .register-form .gender-box {
  color: var(--white);
  width: 90%;
  margin: 0.75rem auto;
  display: flex;
  gap: 0.5rem;
}

#register .register-form .gender-box .male,
#register .register-form .gender-box .female {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#register .register-form .sign-up {
  display: block;
  padding: 0.5rem 1.25rem;
  border: 1px solid var(--white);
  width: 35%;
  margin: 1rem auto;
  transition: var(--transition);
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
}

#register .register-form .sign-up:hover {
  background-color: var(--white);
  color: var(--clr-primary-1);
  font-weight: 700;
}

/*
===============
Login Page
===============
*/
#login {
  padding: 2rem 2.5rem;
  max-width: 568px;
  width: 80vw;
  margin: 0 auto;
  background-color: var(--clr-primary-1);
  margin-top: 5rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow-dark);
}

#login .chat-logo {
  width: 40%;
  height: 50%;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

#login .chat-intro {
  padding: 1.25rem;
}

#login .chat-intro .chat-title {
  font-size: 3rem;
  text-align: center;
  margin-top: -2rem;
  color: var(--clr-primary-4);
  font-weight: bold;
}

#login .login-form input {
  padding-bottom: 0.75rem;
  font-size: 1.25rem;
  color: var(--white);
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--clr-grey-1);

  display: block;
  width: 90%;
  margin: 0.5rem auto;
}

#login .login-form input::placeholder {
  color: var(--white);
}

#login .login-form .login {
  display: block;
  padding: 0.5rem 1.25rem;
  border: 1px solid var(--white);
  width: 35%;
  margin: 1rem auto;
  transition: var(--transition);
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
}

#login .login-form .login:hover {
  background-color: var(--white);
  color: var(--clr-primary-1);
  font-weight: 700;
}

/*
===============
User Chat Page
===============
*/
#chat {
  padding: 2rem 2.5rem;
  max-width: 100%;
  width: 95vw;
  height: calc(100vh - 4rem);
  margin: 2rem auto;
  background-color: var(--clr-primary-1);
  border-radius: var(--radius);
  box-shadow: var(--shadow-dark);
  overflow-y: scroll;
  /* display: flex;
  flex-wrap: wrap; */
}

#chat .users-list {
  /* flex: 1 0 33%; */
}

#chat .users-list h2 {
  color: var(--white);
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
}

#chat .users-list .search-box {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--clr-primary-3);
  border-radius: var(--radius);
}

#chat .users-list .search-box .search-bar input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--white);
  font-size: 1rem;
}

#chat .users-list .search-box .search-bar input::placeholder {
  color: var(--white);
  font-size: 1rem;
}

#chat .users-list .search-box .search-icon {
  color: var(--white);
  font-size: 1.25rem;
}

#chat .users-list h3 {
  font-size: 1.25rem;
  color: var(--white);
  margin-top: 1rem;
}

#chat .users-list .recent-user {
  margin-top: 1.25rem;
  background-color: var(--clr-primary-2);
  padding: 0.75rem 1.5rem;
  border-radius: var(--radius);
  display: flex;
  justify-content: space-between;
}

#chat .users-list .recent-user .user-infos {
  display: flex;
  gap: 1rem;
}

#chat .users-list .recent-user .user-infos .user-profile {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

#chat .users-list .recent-user .user-infos .user-info {
  color: var(--white);
}

#chat .users-list .recent-user .time {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 700;
  align-self: center;
}

#chat .chat-content {
  /* background-color: red; */
  margin: 2.5rem 0;
}

#chat .chat-content h3 {
  font-size: 1.25rem;
  color: var(--white);
  margin-bottom: 0.5rem;
}

#chat .chat-content .top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-primary-3);
  padding: 0.5rem 0.75rem;
  border-radius: var(--radius);
}

#chat .chat-content .top-bar .user-infos {
  display: flex;
  gap: 1rem;
}

#chat .chat-content .top-bar .user-infos .user-profile {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

#chat .chat-content .top-bar .user-infos .user-info {
  color: var(--white);
}

#chat .chat-content .top-bar .user-infos .user-info p {
  color: var(--clr-grey-5);
}

#chat .chat-content .top-bar .chat-icon {
  font-size: 1.25rem;
  display: flex;
  gap: 0.5rem;
}

#chat .chat-content .top-bar .chat-icon button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--white);
}

#chat .chat-content .user-chats {
  padding: 1rem;
  height: calc(100vh - 4rem);
  margin: 1rem 0;
  overflow-y: scroll;
}

#chat .chat-content .user-chats .user-profile {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

#chat .chat-content .user-chats .message-box {
  max-width: 70%;
  background-color: var(--clr-primary-4);
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  gap: 1rem;
  margin: 0.5rem 0;
}

#chat .chat-content .user-chats .message-box .message {
  color: var(--white);
  font-size: 1rem;
}

#chat .chat-content .user-chats .message-box .time {
  color: var(--clr-grey-3);
}

#chat .chat-content .user-chats .owner-side,
#chat .chat-content .user-chats .opposite-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#chat .chat-content .user-chats .owner-side {
  flex-direction: row-reverse;
}

#chat .chat-content .user-chats .owner-side .message-box {
  border-radius: 10px 0 10px 10px;
}

#chat .chat-content .user-chats .opposite-side {
  flex-direction: row;
}

#chat .chat-content .user-chats .opposite-side .message-box {
  border-radius: 0 10px 10px 10px;
}

#chat .chat-content .input-box {
  background-color: var(--clr-primary-3);
  padding: 0.75rem 1.25rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: var(--radius);
}

#chat .chat-content .input-box .meesage-icon {
  color: var(--clr-grey-3);
  font-size: 1.2rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#chat .chat-content .input-box form {
  /* background-color: red; */
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

#chat .chat-content .input-box form input {
  display: block;
  width: 88%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--white);
  font-size: 1rem;
  transition: var(--transition);
}

#chat .chat-content .input-box form input::placeholder {
  color: var(--white);
  font-size: 1rem;
}

#chat .chat-content .input-box form button {
  display: block;
  width: 10%;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: var(--white);
  cursor: pointer;
}
